# Manage binary resource files with lfs
/dw3/**/*.STR filter=lfs diff=lfs merge=lfs -text
/dw3/**/*.PRO filter=lfs diff=lfs merge=lfs -text
/dw3/**/*.BIN filter=lfs diff=lfs merge=lfs -text
/dw3/SLUS_014.36 filter=lfs diff=lfs merge=lfs -text
/dw2003/**/*.STR filter=lfs diff=lfs merge=lfs -text
/dw2003/**/*.PRO filter=lfs diff=lfs merge=lfs -text
/dw2003/**/*.BIN filter=lfs diff=lfs merge=lfs -text
/dw2003/**/*.tim filter=lfs diff=lfs merge=lfs -text

# Packs contain binary data
/pack/**/*.bin filter=lfs diff=lfs merge=lfs -text

# Image files are binary data
/tim/**/*.png filter=lfs diff=lfs merge=lfs -text

# Keep crlfs in all resource files
/dw3/**/* -crlf
/dw2003/**/* -crlf
